<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body ontouchstart="">

    <div class="container">

    {% if page.url == '/index.html' %}

      <h1 class = "hidden"> 
        {{ site.title }}
      </h1>
      
    {% endif %}

      <div class = "row">
        {% include header.html %}
      </div>

      <div class = "row">
        
        <!-- main content area -->

        <div class = "col-md-10 col-md-push-2 col-sm-9 col-sm-push-3 col-xm-12">
          {% if page.tabs %}
            {% include tabs.html %}
          {% endif %}

            {% if page.layout_style == 'wide' %}
              {% assign custom_layout = true %}

              <div class = "col-md-12">

            {% else %}
              
              <div class = "col-md-12">

            {% endif %}            


              <span class = "hidden">
                <a href = "#nav">skip to navigation</a>
              </span>

              {% assign page_url_path_split = page.url | split: "/" %}
              {% assign page_class = page_url_path_split[1] %}

              {% if page_class == 'index.html' %}
                {% assign page_class = '' %}
              {% endif %}

              {% assign page_class = ' ' + page_class %} <!-- adding in the space here -->

              <a name = "content"></a>
              <div class = "content{{page_class}}">
                {% if page.format == 'html' %}

                  {{ content }}

                {% else %}

                  {{ content | markdownify}}

                {% endif %}

                </div><!-- wde/normal -->

            </div><!-- /content -->

        </div>

        <!-- left side nav -->
        <div class = "col-md-2 col-md-pull-10 col-sm-3 col-sm-pull-9 col-xm-12 nav-container">
          {% include nav.html %}
        </div>

    </div><!-- /row -->

    {% include footer.html %}
  
  </div><!-- /container -->

  </body>

</html>
