---
layout: base
---
{% comment %}

  List of images in a volume subdir

{% endcomment %}

{% assign url_path_split = page.url | split:"/" %}
{% assign vol_subdir = url_path_split | last %}
{% assign vol_group = url_path_split[2] %}
{% assign volume_id = url_path_split[3] %}

<div class = "browse">

  <div class = "breadcrumbs">
    <p><a href = "/browse/">All Images</a> >
       <a href = "/browse/{{ vol_group }}">{{ vol_group }}</a> >
       <a href = "/browse/{{ vol_group }}/{{ volume_id }}">{{ volume_id }}</a> >
       {{ vol_subdir }}
     </p>
  </div>

  <h2>Browse Images {{ volume_id }} </h2>
  <h3>Section {{ vol_subdir }}</h3>

  <div class="row">
  {% for img_path in site.data.browse[vol_group][volume_id][vol_subdir] %}

    {% if img_path contains 'full' %}
      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">

          <a href = "https://pds-rings.seti.org/{{ img_path }}" class="thumbnail">
            <img src="https://pds-rings.seti.org/{{ img_path }}">
          </a>

          <div class="caption">
            <h3>{{ img_path | split:'/' | last }}</h3>
          </div>

        </div><!-- /thumbnail -->
      </div>
    {% endif %}
  {% endfor %}
</div><!-- /row -->
