---
layout: base
---
{% comment %}

List a volume's groupings like:

  1680805782_1681997642
  1681997802_1682453677
  1682453719_1683279157
  1683279174_1683355540

{% endcomment %}

{% assign url_path_split = page.url | split:"/" %}
{% assign volume_id = url_path_split | last %}
{% assign vol_group = url_path_split[2] %}

<div class = "browse">

  <div class = "breadcrumbs">
    <p><a href = "/browse/">All Images</a> >
       <a href = "/browse/{{ vol_group }}">{{ vol_group }}</a> >
       {{ volume_id }}
    </p>
  </div>

  <h2>Browse Images {{ volume_id }}</h2>

  <div class="row">

    {% for vol_hash in site.data.browse[vol_group][volume_id] %}
      {% assign vol_subdir = vol_hash[0] %}

      {% comment %}
        this subdirectory will contain a number of images
        select the first image found (?) to display here to represent the grouping
      {% endcomment %}

      {% for img_path in site.data.browse[vol_group][volume_id][vol_subdir] %}
        {% if img_path contains "full" %}
            {% assign img_path = img_path %}
            {% break %}
        {% endif %}
      {% endfor %}

      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
          <a href = "{{ vol_subdir }}/">
            <img src="https://pds-rings.seti.org/{{ img_path }}" alt = "link to subdirectory {{ vol_subdir }}">
          </a>
            <div class="caption">
              <h3><a href = "{{ vol_subdir }}">{{ vol_subdir }}</a></h3>
            </div>
        </div>
      </div>


    {% endfor %}
    <div><!-- /row -->

</div>
