*.jpg
*.jpeg
*.png
*.svg
*.gif
!css/*.jpg
!css/*.jpeg
!css/*.png
!css/*.svg
!requirements.txt
website/*.txt
website/*/*.txt
website/*/*/*.txt
website/*/*/*/*.txt
website/*/*/*/*/*.txt
website/*/*/*/*/*/*.txt
*.pyc
venv
.DS_Store
original_site/
deploy.bash
converted_markdown/
website/cassini/iss/*/*.txt
website/browse/
website/saturn/cassini/
*.db
*~
*.pdf
*.tiff
*.tif
*.ti
*.tab
*.lbl
*.c
*.ck
*.tf
*.ps
*.pretxt
*.mov
*.gz
*.bsp
*.bc
*.h
*.zip
*.tgz
*.tar
*.for
*.cat
*.inc
*.lis
*.tpc
*.tls
*.tsc
website/voyager/spice/*.txt
*.mak
*.pro
*.dat
*.dat-gz
*.exe
*.pl
*.LBL
*.TAB
*.TEX
*.PDF
*.C
*.H
*.SH
*.CMD
*.map
*.RPT
*.FMT
*.fmt
*.PRO
*.IDL
*.doc
*.docx
*.o
*.pm
*.edr
*.qub
*.IMG
*.img
*.gls
*.imq
*.bak
*.grp
*.pic
*.CAT
website/cassini/*.txt
website/cassini/*.TXT
website/voyager/*.txt
website/voyager/*.TXT
website/saturn/*.txt
website/saturn/*.txt
*.old
website/cassini/*/SOFTWARE
website/cassini/iss/COISS_0011_DOCUMENT/REPORT/
website/cassini/sis/
website/rpx/proceedings/
website/rpx/wellesley/
website/toolkits/julian_132_html/
website/toolkits/julian_133_html/
website/toolkits/profile_13_html/
website/uranus/viewspace/
website/voyager/iss/inst_cat_na1.html
website/voyager/iss/inst_cat_na2.html
website/voyager/iss/inst_cat_wa1.html
website/voyager/iss/inst_cat_wa2.html
website/voyager/iss/memo_1986_01_16.html
website/voyager/iss/memo_1989_08_18.html
website/voyager/iss/memo_1990_05_14.html

