*.jpg
*.jpeg
*.png
*.svg
*.gif
!/galileo/vgr_data/2069135-stretch_tn.gif
!css/*.jpg
!css/*.jpeg
!css/*.png
!css/*.svg
*.pyc
venv
.DS_Store
original_site/
deploy.bash
converted_markdown/
website/browse/
*.db
*~
*.pdf
*.tiff
*.tif
*.ti
*.tab
*.lbl
*.c
*.ck
*.tf
*.ps
*.pretxt
*.mov
*.gz
*.bsp
*.bc
*.h
*.zip
*.tgz
*.tar
*.for
*.cat
*.inc
*.lis
*.tpc
*.tls
*.tsc
*.mak
*.pro
*.dat
*.dat-gz
*.exe
*.pl
*.LBL
*.TAB
*.TEX
*.PDF
*.C
*.H
*.SH
*.CMD
*.map
*.RPT
*.FMT
*.fmt
*.PRO
*.IDL
*.doc
*.docx
*.o
*.pm
*.edr
*.qub
*.IMG
*.img
*.gls
*.imq
*.bak
*.grp
*.pic
*.CAT
*.old
website/cassini/*/SOFTWARE
website/cassini/iss/COISS_0011_DOCUMENT/REPORT/
website/cassini/sis/
website/toolkits/julian_132_html/
website/toolkits/julian_133_html/
website/toolkits/profile_13_html/
website/uranus/viewspace/

