/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) { ... }
*/
/* some PDS-rings specific styles */
.pds-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.nav-container {
    padding-left: 0;
}

/* begin style */
body {
  font-family: 'Open Sans', sans-serif;
  color: #033333;
}

a {
  color: #317ab9;
  background-color: transparent;
}

nav a, .tab-pill a, .footer-lower a {
  text-decoration: none !important;
}

.tab-pill a {
    color: #2D6FA9;
}

.tab-pill:hover, .tab-pill:focus {
    background-color: #D9D9D9;
}

a:hover, a:focus {
  color: #224f77;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.hidden {  /* a11y way to present only to screen readers */
  text-indent: -5000px;
}

.site-header  {
  background-color: black;
  margin:0 15px 0 15px;
}

@media only screen and (max-width: 768px) {
  .site-header  {
    margin:0;  /* hiding it for now, hard to layout this thing in phone-size screens */
  }
}

.content > h2 {
    font-size: 172%;
}

.content > h3 {
    font-size: 128%;
}

.container {
  background-color: rgb(255, 255, 255);
/*  width:92%; */
  width: 100%;
  padding: 0;
}

/* searchbox */
.searchbox {
  width: 25em;
  position: absolute;
  right: 2.2em;
  top: 7.4em;

}

@media only screen and (max-width: 768px) {
  .searchbox {
    display:none;  /* hiding it for now, hard to layout this thing in phone-size screens */
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) and (orientation : portrait) {
  .searchbox {
    display:block;
    position: absolute;
    right:20px;
    top:90px;
    width:400px
  }
}

.mission_statement {
  padding: 0px 40px 0px 5px;
  margin:0;
  line-height: 1.5;
  font-size:1.4em;
  color: #262626;
}
@media only screen and (max-width: 320px) {
  .mission_statement {
    font-size:1.1em;
 }
}
@media only screen and (min-width: 1440px) {
  .mission_statement {
    width:90%;
 }
}

.modal {
    opacity: 1;
    top: 5%;
}

.modal-header .close {
    position: relative;
    top: -10px;
}

.modal-title {
    position: relative;
    top: .5em;
}

.modal-dialog {
  position: relative;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.notification {
    top: -0.2em;
    position: relative;
    left: 2.8em;
    width: 75%;
}

/* content containers */
.content {
  margin:0; padding:0;
  margin-top:20px;
}

.content > p > img, .content > img, .content > a > img, .content > p > a > img {
  float:right;
  margin:0 0 20px 20px;
}

@media (min-width: 1200px) {
  .content p {
    max-width: 60em;
  }
  .content li {
    max-width: 60em;
  }
}
.content p.superwide {
  max-width: none;
  width: 100%;
  overflow: visible;
}

/* .content container customizations for pages */
p.superwide > a > img {
  overflow:visible;
  float:left;
  margin:0;
  width: 100%;
}

p.logo {
  display: inline-flex;
}

.rss  {
  max-width: 1124px;
}

.rss img {
  max-height: 272px;
}

.ringocc {
  max-width: 1209px;
}

.ringocc img {
  max-height: 461px;
}

/* homepage boxes */
.homebox {
  font:1.0em 'Open Sans', sans-serif;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin-top: 20px;
}
.homebox figure {
  margin-bottom:10px;
}
.homebox .panel-heading {
  margin:0; padding:0;
  border: 1px solid black;
  background-image: url(assets/PRN_home_heading_bg.png);
  background-color: #585858;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size:1.3em;
  text-align: center;
  padding:3px 0;
}

.homebox .panel-body {
    padding:17px 10px;
}

.homebox ul  {
  border:0;
	display: block;
	list-style-type: disc;
}

.homebox li, .homebox p {
	line-height: 1.4em;
	margin-bottom: 13px;
}

.homebox .panel-body p strong {
  font-size: 1.5em;
}


*, *:before, *:after {box-sizing:  border-box !important;}

.homebox_row, .homebox_item {
  margin:0; padding:0;
}

.homebox_row {
 -moz-column-width: 40em;
 -webkit-column-width: 40em;
 -ms-column-width: 40em;
 column-width: 40em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;
 -ms-column-gap: 1em;
 column-gap: 1em;
}

@media (min-width: 768px) and (max-width: 1050px) {
  .homebox_row {
     -moz-column-width: 23em;
     -webkit-column-width: 23em;
     -ms-column-width: 23em;
     column-width: 23em;
  }
}
@media (min-width: 1050px) and (max-width: 1150px) {
  .homebox_row {
     -moz-column-width: 20em;
     -webkit-column-width: 20em;
     -ms-column-width: 20em;
     column-width: 20em;
  }
}

@media (min-width: 1150px) and (max-width: 1700px) {
  .homebox_row {
     -moz-column-width: 30em;
     -webkit-column-width: 30em;
     -ms-column-width: 30em;
     column-width: 30em;
  }
}
@media (min-width: 1950px) {
  .homebox_row {
     -moz-column-width: 45em;
     -webkit-column-width: 45em;
     -ms-column-width: 45em;
     column-width: 45em;
     max-width: 100em;
  }
}
.homebox_item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}


@media only screen and (max-width: 768px) {
  div.row {
    padding:0;
  }
  .homebox {
    margin:0; 
    padding:0;
    margin-bottom:10px;
  }
  .content, .container, .row {
    padding:0; margin:0;
    width:100%;
  }
  div.col-xm-12 {
    margin:0; 
    padding:0;
  }
  .mission_statement {
    padding:10px 10px 10px 20px;
    font-size:1.2em;
  }
}


/* site header / banner */
.banner {
  background: url(assets/header%20banners/PRN_header1.jpg) no-repeat;
  background-position: right 0 top 0;
  margin:0; padding:0;
  /*width: 1170px;
  height: 150px;*/
}

.banner .brandtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 .4em;
  position: relative;
  display: inline-block;
  margin: 50px 37px 50px 37px;

}
.banner a.site-title {
	color:white;
}
.banner a.site-title:hover {
	text-decoration: none;
}
/* mobile hamburger menu is inside banner */
.hamburger-container {
  padding:0; 
  margin:0;
  padding-top:5px;
  word-wrap:nowrap;
  font-size: 1.3em;
  text-align: center;
}
.hamburger-container a {
  color:white;
}
.hamburger-container a:hover {
  text-decoration: none;
}
.hamburger-container a:active {
  color:#585858;
}
.hamburger {
  padding:0; margin:0;
}

@media only screen and (max-width: 768px) {
.banner .brandtext {
  text-align: center;
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 .4em;
  position: relative;
  display: inline-block;
  margin: 20px 37px 20px 37px;
  }
  .searchbox {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .banner .brandtext {
    font-size:2.2em;
  }
}
@media only screen and (min-width: 480px) {
  .banner .brandtext {
    font-size:2.2em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .banner .brandtext {
    font-size:2.5em;
    margin-bottom:10px;
  }
}



/* nav - the left main nav menu */
nav {
    background-color: #efefef;
}
.nav-container nav ul {
	margin: 0; padding: 0;
	list-style-type: none;
}

.nav-container nav ul li:last-child {
	padding-bottom: 6px;
}

.nav-container nav ul:last-child {
	padding-bottom: 12px;
}

.nav-container .subheading > a, .nav-container .subheading > p {  /* nav menu section headings */
	display:block;
	width:100%;
	font: 1.1em 'Open Sans', sans-serif;
    color: #435ca4;
	font-weight: 600;
	line-height: 1.2em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #e9e9e9;
	padding: 12px 15px;
}
.nav-container .subheading > p {
  color:black;
}

.nav-container .subheading > a:visited {
	color: #4e4a92;
}

.nav-container .subheading > a:hover {
	color: #5a72b7;
}

.nav-container .subheading > a:active {
	color: #31488d;
}

.nav-container .submenu li a {
	font: 0.9em 'Open Sans', sans-serif;
	display:block;
	width:100%;
	color: #435ca4;
	padding: 5px 5px 5px 15px;
	line-height: 1.2em;
	margin-bottom: 2px;
}
.nav-container .submenu li a:visited {
	color: #4e4a92;
}
.nav-container .submenu li a:hover {
	color: #5a72b7;
}
.nav-container a:active { /* for the key press */
  background-color: #ffffff;
  border-left: 5px solid #fffa93;
  padding-left: -15px;
}
.nav-container .submenu li.active { /* nav hinting */
  background-color: #ffffff;
  border-left: 5px solid #fffa93;
  padding-left: -15px;
}
@media only screen and (max-width: 480px) {

  .nav-container nav ul {
    text-align: center;
  }
  .nav-container .subheading > a {  /* nav menu section headings */
    display:block;
    margin:0 auto;
  }

  .nav-container .submenu li {
    margin:0; padding:10px ;
  }

  .nav-container .submenu li > a {
    display:inline;
    margin:0 auto;
    white-space: nowrap;
    text-align: center;
    font: 1.3em 'Open Sans', sans-serif;
    padding:5px;
    overflow: visible;
  }
}


.mobile {
  display:none;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display:block;
  }
  .brandtext {
    width: 80%;
    text-align: center;
  }
  /* for now, don't display any messages on a small screen */
  .notification {
      display: none;
  }
}


/* tabs */
ul.tab-pill-group {
  margin: 0; padding:0;
  margin-top:20px;
  margin-left:10px;
  margin-bottom:0;
  display: inline-block;
}
li.tab-pill a {
  display:inline-block;
  padding: 5px 16px;

}
li.tab-pill {
  font-family: 'Open Sans', sans-serif;
  background: #efefef;
  border: 1px solid #cccccc;
  box-shadow: none;
  border-radius: .25em;
  float: left;
  font-size: 14px;
  font-weight:600;
  color: #222222;
  margin-right: 6px;
  list-style-type: none;
  text-align:center;
}
li.tab-pill.active {
  background: url(assets/active-tab-bg.png) repeat-x;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: none;
  border-radius: .25em;
  float: left;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  color: #222222;
  margin-right: 6px;
  cursor: pointer;
  text-align:center;
}

/* breadcrumbs */
ol.breadcrumb {
  background-color: white;
  margin-bottom:-20px;
}


/* data tables */
table {
  border-collapse: separate;
  background-color: white;
}
/* Zebra striping */
/*
tr:nth-of-type(odd) {
  background: #efefef;
}
*/
th {
  padding: 3px 15px;
  background: #fdfabe;
  color: #222222;
  font-weight: bold;
}
td, th {
  padding: 3px 15px;
  border: 1px solid #ccc;
  text-align:center;
}
th.colgroup-seperator, td.colgroup-seperator {
  background: #efefef;
  border: 1px solid #ccc;
}
td.colgroup-seperator {
  font-weight: bold;
}


/* tools page */
.tools > .container {
  margin:0;
  padding:0;
}
.tools > .container .row {
  margin-top:20px;
}
.tools > .container .row h2{
  margin-top:0;
}


/* footer */
.navbar-nav.nav-justified > li{
    float:none;
}
.footer {
  width: 100%;
  margin:0; padding:0;
  background-color: #2c2c2c;
  font-size: 0.9em;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited,
.footer-blue {
  color: #34b9db;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
  color: white;
}

.footer-blue>a:hover, .footer-blue>a:active {
  color: #6f99ce;
}

.footer-lower {
  background-color: black;
  color:white;
  padding:10px 30px;
}


/* ? */
.toplink {
  margin:20px;
  text-align: center;
}
.homebox-toplink {
    margin:0;
    margin-top:-10px;
    padding:0 0 30px 0;
}

.table-responsive {
  min-width: 768px;
  overflow: scroll;
}

.button {
    background-color: #007bb3;
    padding: 8px;
    color: white;
    text-align: center;
}

.button:hover {
    background-color: #004361;
}

.button:active {
    background-color: #004361;
    transform: translate(1px,1px);
}

/* for compatibility w/bootstrap 4 things */
.bg-primary {
  background-color: #20a8d8 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #1985ac !important;
}

.bg-secondary {
  background-color: #c8ced3 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #acb5bc !important;
}

.bg-success {
  background-color: #4dbd74 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #3a9d5d !important;
}

.bg-info {
  background-color: #63c2de !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #39b2d5 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important;
}

.bg-danger {
  background-color: #f86c6b !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #f63c3a !important;
}

.bg-light {
  background-color: #f0f3f5 !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #d1dbe1 !important;
}

.bg-dark {
  background-color: #2f353a !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #181b1e !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.border {
  border: 1px solid #c8ced3 !important;
}

.border-top {
  border-top: 1px solid #c8ced3 !important;
}

.border-right {
  border-right: 1px solid #c8ced3 !important;
}

.border-bottom {
  border-bottom: 1px solid #c8ced3 !important;
}

.border-left {
  border-left: 1px solid #c8ced3 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #20a8d8 !important;
}

.border-secondary {
  border-color: #c8ced3 !important;
}

.border-success {
  border-color: #4dbd74 !important;
}

.border-info {
  border-color: #63c2de !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #f86c6b !important;
}

.border-light {
  border-color: #f0f3f5 !important;
}

.border-dark {
  border-color: #2f353a !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-italic {
  font-style: italic !important;
}

.text-white {
  color: #fff !important;
}

.text-primary {
  color: #20a8d8 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #1985ac !important;
}

.text-secondary {
  color: #c8ced3 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #acb5bc !important;
}

.text-success {
  color: #4dbd74 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #3a9d5d !important;
}

.text-info {
  color: #63c2de !important;
}

a.text-info:hover, a.text-info:focus {
  color: #39b2d5 !important;
}

.text-warning {
  color: #ffc107 !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #d39e00 !important;
}

.text-danger {
  color: #f86c6b !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #f63c3a !important;
}

.text-light {
  color: #f0f3f5 !important;
}

a.text-light:hover, a.text-light:focus {
  color: #d1dbe1 !important;
}

.text-dark {
  color: #2f353a !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #181b1e !important;
}

.text-body {
  color: #23282c !important;
}

.text-muted {
  color: #73818f !important;
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
