{% assign releases = site.data.tables['cassini_iss_access'] %}
{% assign columns = releases[0].columns %}
		
<table summary ="A list of Cassini ISS Releases">

	<caption class = "hidden">Cassini ISS Releases</caption>

  <thead>
	<tr>

		{% for col in columns %}

			<th scope="col" id="{{ col | slugify }}">{{ col }}</th>

		{% endfor %}

	</tr>
	</thead>


	{% for volume in releases %}
		
		{% if volume.columns %}
			{% continue %}
		{% endif %}

		<tbody>

			<tr>
				<th class="colgroup-seperator" colspan="7" id="release-{{ volume.release.date | slugify}}" scope="colgroup">
					{{ volume.release.date  }} Release
				</th>
			</tr>

			{% for row in volume.release.volumes %}

				<tr>
					{% for col in columns %}


						{% if col == "Volume Id" %}
							<td headers="{{ col | slugify }} release-{{ volume.release.date | slugify}}">
								<a href = "http://pds-rings.seti.org/vol/COISS_2xxx/{{ row.volume.id }}">
										{{ row.volume.id }}
								</a>
							</td>
						{% endif %}


						{% if col == "Bundled Volumes" %}
							<td headers="{{ col | slugify }} release-{{ volume.release.date | slugify}}">
								<a href = "http://pds-rings.seti.org/archives/COISS_2xxx/{{ row.volume.id }}.tar.gz">
										{{ row.volume.id }}.tar.gz
								</a>
							</td>
						{% endif %}


						{% if col == "Browse Images" %}
							<td headers="{{ col | slugify }} release-{{ volume.release.date | slugify}}">
								<a href = "http://pds-rings.seti.org/browse/COISS_2xxx/{{ row.volume.id }}/data/">
										{{ col }}
								</a>
							</td>
						{% endif %}


						{% if col == "Calibrated Images" %}
							<td headers="{{ col | slugify }} release-{{ volume.release.date | slugify}}">
								<a href = "http://pds-rings.seti.org/derived/COISS_2xxx/{{ row.volume.id }}/data/">
										{{ col }}
								</a>
							</td>
						{% endif %}


						{% if col == "Index File" %}
							<td headers="{{ col | slugify }} release-{{ volume.release.date | slugify}}">
								<a href = "http://pds-rings.seti.org/volumes/COISS_2xxx/{{ row.volume.id }}/index/index.tab">
										index.tab
								</a>
							</td>
						{% endif %}


						{% if col == "Spacecraft Clock (SCLK) range" %}
							<td headers="{{ col | slugify }} release-{{ volume.release.date | slugify}}">
								{{ row.volume.clock_range | replace: ' ', '<br>' }}
							</td>
						{% endif %}


						{% if col == "Date Range (UTC)" %}
							<td headers="{{ col | slugify }} release-{{ volume.release.date | slugify}}">
								<span style = "white-space:nowrap">{{ row.volume.date_range | replace: ' ', '</span><br><span class = "white-space:nowrap">' }}</span>
							</td>
						{% endif %}


					{% endfor %}
				</tr>


			{% endfor %}

		</tbody>
		

	{% endfor %}

</table>


