<!-- generic confirmation Modal -->
<div class="modal fade" id="pds-notification-modal" tabindex="-1" data-action="esc" role="dialog"
     data-backdrop="static" data-keyboard="false" aria-labelledby="confirm-modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded border-light">
            <div class="modal-header bg-dark text-light font-weight-bold">
                <div class="modal-title" id="notification-modalLabel">Important Message</div>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle fa-lg text-light"></i>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal" data-target="pds-notification-modal">Do not show again</button>
                <button type="reset" class="btn btn-danger" data-target="pds-notification-modal">Close</button>
            </div>
        </div>
    </div>
</div>
