<nav class="footer navbar navbar-default" role = "footer">

  <div class="container-fluid">

  <ul class="nav navbar-nav nav-justified">

    <li class = ""><a href = "http://pds.nasa.gov/">PDS</a></li>   
    <li class = ""><a href = "http://pds-atmospheres.nmsu.edu/">Atmospheres</a></li> 
    <li class = ""><a href = "http://pds-geosciences.wustl.edu/">Geosciences</a></li> 

    <li class = ""><a href = "http://pds-imaging.jpl.nasa.gov/">Imaging</a></li> 
    <li class = ""><a href = "http://naif.jpl.nasa.gov/naif/">NAIF</a></li> 
    <li class = ""><a href = "http://ppi.pds.nasa.gov/">PPI</a></li> 
    <li class = ""><a href = "http://pds-rings.seti.org/">Rings</a></li> 

  <ul>

</div>

<div class = "footer-lower">
  <div class = "row">
    <div class = "col-lg-2">SETI Logo</div>
    <div class = "col-lg-6">
        SETI Insitute<br>
        <span class = "footer-blue">
          Carl Sagan Center for the Study of Life in the Universe
        </span>
    </div>
    <div class = "col-lg-4">
      Node Manager: <span class = "footer-blue">Mark R. Showalter</span><br>
      Webmaster: <span class = "footer-blue">Neil Heather</span>
    </div>
  </div>
</div>