<div class = "footer-lower" role="contentinfo">
  <div class = "row">
    <div class = "col-lg-2">
      <a href = "//seti.org" target="_blank">
        <img width = "100" alt = "Link to SETI Institute Website" src = "{{ site.baseurl }}/assets/img/seti_logo.gif">
      </a>
    </div>
    <div class = "col-lg-6">
        <div class = "visible-lg">SETI Institute</div>
        <span class = "footer-blue">
          Carl Sagan Center for the Study of Life in the Universe
        </span>
    </div>
    <div class = "col-lg-4">
      Node Manager: <span class = "footer-blue"><a href="https://www.seti.org/our-scientists/matthew-tiscareno" class="footer-blue" target="_blank">Matt Tiscareno</a></span><br>
    </div>
  </div>
</div>
