<nav class="footer navbar navbar-default" role = "footer">

  <div class="container-fluid">

  <ul class="nav navbar-nav nav-justified">

    <li class = ""><a title = "Planetary Data System" href = "https://pds.nasa.gov/">PDS</a></li>
    <li class = ""><a title = "Atmospheres Node" href = "//pds-atmospheres.nmsu.edu/">Atmospheres</a></li>
    <li class = ""><a title = "Geosciences Node" href = "//pds-geosciences.wustl.edu/">Geosciences</a></li>
    <li class = ""><a title = "Cartography and Imaging Sciences Node" href = "https://pds-imaging.jpl.nasa.gov/">Cartography & Imaging</a></li>
    <li class = ""><a title = "Navigation Node" href = "https://naif.jpl.nasa.gov/naif/">Navigation & Ancillary Information</a></li>
    <li class = ""><a title = "Planetary Plasma Interactions Node" href = "//pds-ppi.igpp.ucla.edu/">Plasma/Particle Interactions</a></li>
    <li class = ""><a title = "Ring Moon Systems Node" href = "/">Ring-Moon Systems</a></li>
    <li class = ""><a title = "Small Bodies Node" href = "https://pds-smallbodies.astro.umd.edu/">Small Bodies</a></li>

  <ul>

</div>

<div class = "footer-lower">
  <div class = "row">
    <div class = "col-lg-2">
      <a href = "//seti.org">
        <img width = "100" alt = "Link to SETI Institute Website" src = "/assets/img/seti_logo.gif">
      </a>
    </div>
    <div class = "col-lg-6">
        <div class = "visible-lg">SETI Institute</div>
        <span class = "footer-blue">
          Carl Sagan Center for the Study of Life in the Universe
        </span>
    </div>
    <div class = "col-lg-4">
      Node Manager: <span class = "footer-blue"><a href="//www.seti.org/users/mark-showalter">Mark R. Showalter</a></span><br>
    </div>
  </div>
</div>
