<div class="site-header">

    <div class="banner">

        <div class = "brandtext">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <div class = "mobile hamburger-container">
            <a href = "#pds-nav">
                MENU <span class="hamburger glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>


        <div class="searchbox">

            <script async src="https://cse.google.com/cse.js?cx=61f5f564833204578">
            </script>
            <div class="gcse-search"></div>

            <style>
                 .cse .gsc-control-cse, .gsc-control-cse {
                    border:0;
                    background: rgba(54, 25, 25, 0);
                }
                /* resolves conflict with Bootstrap */
                input.gsc-input,
                .gsc-input-box,
                .gsc-input-box-hover,
                .gsc-input-box-focus,
                .gsc-search-button {
                    box-sizing: content-box;
                 }
                input.gsc-input,
                .gsc-input-box {
                    margin-right: -40px;
                    width: 13.5em;
                }

                .gsc-input {
                    border: none;
                }

                .gsc-search-button {
                    border: none;
                }

                .gsib_a, .gsib_b {
                    padding: 3px 0px;
                }
            </style>

        </div><!-- /google search box -->

        <div class="notification alert-danger"></div>


     </div>


    </div>
