<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

      {% if page.title == null %}

          {% if page.url == "/index.html" or page.url == "" or page.url == "/" %}
              {% comment %} This is the homepage {% endcomment %}
              {% assign page_title = site.title | append: ' Home' %}
          {% else %}
            {% assign page_title = page.url | replace: '.HTML','' | replace: '.html','' | normalize_whitespace %}
            {% assign page_title = site.title | append: ' - ' | append: page_title %}

          {% endif %}

      {% else %}
        {% assign page_title = site.title | append: ' - ' | append: page.title %}

      {% endif %}

  <title>{{ page_title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link href='https://fonts.googleapis.com/css?family=Inclusive Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" media="all">

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/pds-app-bar/pds-app-bar.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/feedback/css/feedback.css" | prepend: site.baseurl }}" type="text/css" media="screen">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
