<div class = "homebox_row">

{% for homebox in page.homeboxes %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class = "homebox_item">

        <div class="homebox panel panel-default">

          <div class = "panel-heading">

           {{ homebox.title }}

          </div>

          <div class="panel-body">

            <div>

              {{ homebox.content | markdownify }}

            </div>

          </div><!-- /panel-body -->

        </div><!--/homebox panel panel-default -->

        <div class = "mobile toplink homebox-toplink">
          <a href = "#top">back to top</a>
        </div>

    </div><!-- /item -->
</div>

{% endfor %}

</div><!-- /row -->
