
{% for homebox in page.homeboxes %}
  

      <div class = "col-lg-6 col-md-6 col-sm-6 col-xm-12">
  
        <div class="homebox panel panel-default">

          <div class = "panel-heading">

           {{ homebox.title }}

          </div>

          <div class="panel-body">

            <div>

              {{ homebox.content | markdownify }}

            </div>

          </div><!-- /panel-body -->

        </div><!--/homebox panel panel-default -->

        <div class = "mobile toplink homebox-toplink">
          <a href = "#">back to top</a>
        </div>


      </div><!-- /colx -->

{% endfor %}
