<span class = "hidden">
  <a href = "#content">skip to content</a>
</span>

<a name = "nav"></a>
<nav>
  <ul>

    {% for section in site.data.nav %}

    <li class="subheading">
      <!-- a href="{{ section.href }}"> {{ section.title }}</a -->

      <p>{{ section.title }}</p>

      <ul class="submenu">

        {% for item in section.submenu %}

          {% assign menu_url_path_split = item.href | split: "/" %}
          {% assign page_url_path_split = page.url | split: "/" %}

          <li
            {% if menu_url_path_split[1] == page_url_path_split[1] %}
              class = "active"
            {% endif %}
          >
            <a href = "{{ item.href }}">{{ item.title }}</a>

          </li>

        {% endfor %}

      </ul>
    </li>
    {% endfor %}

    <li>
      <form method=get action=/cgi-bin/comments/form.pl>
      &nbsp;&nbsp;&nbsp;<INPUT TYPE=submit CLASS="button" VALUE="Submit a comment">
      </form>
    </li>
</ul>
</nav>


<div class = "mobile toplink">
  <a href = "#top">back to top</a>
</div>
