<nav id="pds-nav">
  <ul>

    {% for section in site.data.nav %}

    <li class="subheading">
      <!-- a href="{{ section.href }}"> {{ section.title }}</a -->

      <p>{{ section.title }}</p>

      <ul class="submenu">

        {% for item in section.submenu %}

          {% if item.external_href != nil %}
            {% assign menu_url_path_split = item.external_href | split: "/" %}
          {% else %}
            {% assign menu_url_path_split = item.href | split: "/" %}
          {% endif %}
          {% assign page_url_path_split = page.url | split: "/" %}

          <li
            {% if menu_url_path_split[1] == page_url_path_split[1] %}
              class = "active"
            {% endif %}
            >
            <a href = 
            {% if item.external_href != nil %}
                "{{ item.external_href }}"
            {% else %}
                "{{ site.baseurl }}{{ item.href }}"
            {% endif %}
            {% if item.open contains 'new_tab' %}target="_blank"{% endif %}
            >{{ item.title }}</a>

          </li>

        {% endfor %}

      </ul>
    </li>
    {% endfor %}

</ul>
</nav>


<div class = "mobile toplink">
  <a href = "#top">back to top</a>
</div>
