<nav id="pds-nav" title="Main PDS Navigation">
  <ul>

    {% for section in site.data.nav %}

    <li class="subheading">
      <!-- a href="{{ section.href }}"> {{ section.title }}</a -->

      <p>{{ section.title }}</p>

      <ul class="submenu">

        {% for item in section.submenu %}

          {% assign menu_url_path_split = item.href | split: "/" %}
          {% assign page_url_path_split = page.url | split: "/" %}

          <li
            {% if menu_url_path_split[1] == page_url_path_split[1] %}
              class = "active"
            {% endif %}
            >
            <a href = "{{ item.href }}"
            {% if item.open contains 'new_tab' %}target="_blank"{% endif %}
            >{{ item.title }}</a>

          </li>

        {% endfor %}

      </ul>
    </li>
    {% endfor %}

</ul>
</nav>


<div class = "mobile toplink">
  <a href = "#top">back to top</a>
</div>
