{% assign all_tabs = site.data.tabs[page.tabs] %}

{% for tab in all_tabs %}
    {% assign tab_href = (tab.href | relative_url) %}
    {% assign page_path = (page.path | relative_url) %}
    {% if tab_href == page_path %}
		{% assign active_tab = tab %}
		{% break %}
	{% endif %}
{% endfor %}

{% for tab in all_tabs %}
	{% if tab.parent_tabs_yaml %}

		{% assign parent_tabs = site.data.tabs[tab.parent_tabs_yaml] %}

		<ol class="breadcrumb">

			<li><a href="{{ tab.parent_tabs_yaml | relative_url}}">{{ tab.parent_label }}</a></li>

			{% for p_tab in parent_tabs %}
				{% if p_tab.title == tab.parent_tab %}
					<li><a href="{{ p_tab.href | relative_url }}">{{ tab.parent_tab }}</a></li>
					{% continue %}
				{% endif %}
			{% endfor %}

            {% if tab.this_page_label %}
                {% assign label = tab.this_page_label %}
            {% else %}
                {% assign label = page.title %}
            {% endif %}
            {% if page.breadcrumb %}
                <li class = "active"><a href="{{ page.breadcrumb | relative_url }}">{{ label }}</a></li>
            {% else %}
			    <li class = "active">{{ label }}</li>
            {% endif %}

		</ol>
		{% break %}
	{% endif %}
{% endfor %}

<ul class="tab-pill-group">

	{% for tab in all_tabs %}

		{% if tab.title %}
		  <li class="tab-pill
		  		{% if active_tab.title == tab.title %}
		  			active
		  		{% endif %}

		  	" >	<a href="{{ tab.href | relative_url }}">{{ tab.title }}</a>
		  </li>
		{% endif %}
	{% endfor %}

</ul>
