{% assign all_tabs = site.data.tabs[page.tabs] %}

{% for tab in all_tabs %}
	{% if tab.href == page.url %}
		{% assign active_tab = tab %}
		{% break %}
	{% endif %}
{% endfor %}

{% for tab in all_tabs %}
	{% if tab.parent_tabs_yaml %}

		{% assign parent_tabs = site.data.tabs[tab.parent_tabs_yaml] %}

		<ol class="breadcrumb">

			<li><a href="/{{ tab.parent_tabs_yaml }}">{{ tab.parent_label }}</a></li>

			{% for p_tab in parent_tabs %}
				{% if p_tab.title == tab.parent_tab %}
					<li><a href="{{ p_tab.href }}">{{ tab.parent_tab }}</a></li>
					{% continue %}
				{% endif %}
			{% endfor %}

			<li class = "active">{{ tab.this_page_label }}</li>

		</ol>
		{% break %}
	{% endif %}
{% endfor %}

<ul class="tab-pill-group">

	{% for tab in all_tabs %}

		{% if tab.title %}
		  <li class="tab-pill 
		  		{% if active_tab.title == tab.title %}
		  			active
		  		{% endif %}

		  	" >	<a href="{{ tab.href }}">{{ tab.title }}</a>
		  </li>
		{% endif %}
	{% endfor %}

</ul>

