/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) { ... }
*/

body {
  background-color: #585858;
  font-family: 'Open Sans', sans-serif;
  color: #595959;
}
.hidden {  /* a11y way to present only to screen readers */
  text-indent: -5000px;
}
.site-header  {
  height: 150px;
  background-color: black;
}
.container {
  background-color: white;
  width:90%;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  color: #222222;

}
h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
}

h2 {
  font-size: 30px;
  font-weight:400;
  line-height: 1.2;
  margin: 1em 0 .7em 0;
}

h3 {
  font-size: 24px;
  font-weight:400;
  line-height: 1.2;
  margin: 1em 0 .6em 0;
}
h4 {
  font-size: 18px;
  font-weight:600;
  line-height: 1.2;
  margin: 1em 0 .6em 0;
}


/* searchbox */
.searchbox {
  width:320px;
  position: absolute;
  right:55px; 
  top:100px;

}
@media only screen and (max-width: 480px) {
  .searchbox {
    display:none;  /* hiding it for now, hard to layout this thing in phone-size screens */
  }
}

.mission_statement {
  padding: 15px 40px 10px 20px;
  line-height: 1.5;
  font-size:1.4em;
  color: #595959;
}
@media only screen and (max-width: 320px) {
  .mission_statement {
    font-size:1.1em;
 }
}
@media only screen and (min-width: 1440px) {
  .mission_statement {
    width:90%;
 }
}

/* content containers */
.content {
  margin:0; padding:0; 
  margin-top:20px;
}

.content > p > img, .content > img, .content > a > img, .content > p > a > img {
  float:right;
  margin:0 0 20px 20px; 
}

@media (min-width: 1200px) {
  .content p {
    max-width: 60em;
  }
  .content li {
    max-width: 50em; 
  }
}
.content p.superwide {
  max-width: none;
  width: 100%;
  overflow: visible;
}



/* .content container customizations for pages */ 
.ringocc > p > a > img {
  overflow:visible;
  float:left;
  margin:0;
  width: 100%;
}



/* homepage boxes */
.homebox {
  font:1.0em 'Open Sans', sans-serif;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin-top: 20px;
  min-height: 24em;
}

.homebox .panel-heading {
  margin:0; padding:0;
  border: 1px solid black;
  background: url(assets/PRN_home_heading_bg.png) no-repeat;
  background-color: #585858;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size:1.3em;
  text-align: center;
  padding:3px 0;
}
.homebox .panel-body {
    padding:17px 10px;
}

.homebox ul  {
  border:0;
	display: block;
	list-style-type: disc;
}

.homebox li, .homebox p {
	line-height: 1.4em;
	margin-bottom: 13px;
	padding: ;	
}
.homebox ul a {
	color: #435ca4;
}
.homebox ul a:visited {
	color: #4e4a92;
}
.homebox ul a:hover {
	color: #5a72b7;
}
.homebox ul a:active {
	color: #31488d;
}
@media only screen and (max-width: 480px) {
  .homebox {
    margin:0; padding:0;
    margin-bottom:10px;
  }
  .content {
    padding:0; margin:0;
  }
  div.col-xm-12 {
    margin:0; padding:0;
  }

}


/* site header / banner */
.banner {
  background: url(assets/header%20banners/PRN_header1.jpg) no-repeat;
  background-position: right 0 top 0;
  height: 150px;
  /*width: 1170px;
  height: 150px;*/
}

.banner .brandtext {
  font-family: 'Open Sans', sans-serif;
  
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 .4em;
  position: relative;
  display: inline-block;
  margin: 50px 37px 50px 37px;
  
}
.banner a.site-title {
	color:white;
}
.banner a.site-title:hover {
	text-decoration: none;
}
/* mobile hamburger menu is inside banner */
.hamburger-container {
  padding:0; margin:0;
  padding-top:5px;
  word-wrap:nowrap;
  font-size: 1.2em;
}
.hamburger-container a {
  color:white;
}
.hamburger-container a:hover {
  text-decoration: none;
}
.hamburger-container a:active {
  color:#585858;
}
.hamburger {
  padding:0; margin:0;
}
@media only screen and (max-width: 600px) {
.banner .brandtext {
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 .4em;
  position: relative;
  display: inline-block;
  margin: 20px 37px 20px 37px;
  }
}
@media only screen and (max-width: 480px) {
  .banner .brandtext {
    font-size:2.2em;
  }
}



/* nav - the left main nav menu */ 
.nav-container {
	background-color: #efefef;
	padding:0;
}
.nav-container nav ul {
	margin: 0; padding: 0;	
	list-style-type: none;
}

.nav-container nav ul li:last-child {
	padding-bottom: 6px;	
}

.nav-container nav ul:last-child {
	padding-bottom: 12px;	
}

.nav-container .subheading > a{
	display:block;
	width:100%;
	font: 1.1em 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 1.2em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #e9e9e9;
	padding: 12px 15px;
}

.nav-container .subheading > a { 
	color: #435ca4;
	padding: 12px 15px;
}

.nav-container .subheading > a:visited { 
	color: #4e4a92;
}

.nav-container .subheading > a:hover { 
	color: #5a72b7;
}

.nav-container .subheading > a:active { 
	color: #31488d;
}

.nav-container .submenu li a {
	font: 0.9em 'Open Sans', sans-serif;
	display:block;
	width:100%;
	color: #435ca4;
	padding: 5px 5px 5px 15px;
	line-height: 1.2em;
	margin-bottom: 2px;
}
.nav-container .submenu li a:visited {
	color: #4e4a92;
}
.nav-container .submenu li a:hover {
	color: #5a72b7;
}
.nav-container a:active { /* for the key press */
  background-color: #ffffff; 
  border-left: 5px solid #fffa93;
  padding-left: -15px;
}
.nav-container .submenu li.active { /* nav hinting */
  background-color: #ffffff; 
  border-left: 5px solid #fffa93;
  padding-left: -15px;
}
@media only screen and (max-width: 767px) {
  .nav-container nav ul {
    text-align: center;
  }
  .nav-container .submenu li {
    font: 1.3em 'Open Sans', sans-serif;
    text-align: center;
    padding: 10px;
  }
}


.mobile {
  display:none;
}
@media only screen and (max-width: 767px) {
  .mobile {
    display:block;    
    text-align:center;
  }
}




/* tabs */
ul.tab-pill-group {
  margin: 0; padding:0;
  margin-top:20px;
  margin-left:0;
  margin-bottom:0;
  display: inline-block;
}
li.tab-pill a {
  display:inline-block;
  padding: 10px 16px;

}
li.tab-pill {
  font-family: 'Open Sans', sans-serif;
  background: #efefef;
  border: 1px solid #cccccc;
  box-shadow: none;
  border-radius: .25em;
  float: left;
  font-size: 14px;
  font-weight:600;
  color: #222222;
  margin-right: 6px;
  list-style-type: none;
  text-align:center;

}

li.tab-pill.active {
  background: url(assets/active-tab-bg.png) repeat-x;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: none;
  border-radius: .25em;
  float: left;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  color: #222222;
  margin-right: 6px;
  cursor: pointer;
  text-align:center;
}
